@import "mixin"
@import "variables"
@media screen and (max-width: $mobileWidth)
    .buttonLine
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center