@import "mixin"
@import "variables"
@media screen and (max-width: $mobileWidth)
    .logo
        @include Center ()
        @include Gradient ()
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        width: 100%
        margin-top: 10px
        .logoText
            @include Font (24px, 600)
            margin-left: 6px
            line-height: 28px
    
